/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

$val10:10px;
$vcolor:var(--theme-color-violet-rgba);
$val0:0px;


@mixin border($args...) {
    border:$args;
}
@mixin borderRadius($radius) {
    border-radius: $radius;
}
@mixin borderDirection($direction,$width,$color,$style) {
    border-#{$direction}:$width $style $color;
}
@mixin position($display, $justify-content, $align-items, $flex-direction) {
    display: $display;
    justify-content: $justify-content;
    align-items: $align-items;
    flex-direction: $flex-direction;
}
@mixin size($width,$height) {
    width: $width;
    height: $height;
}
@mixin boxModel($width,$height,$pval,$mval:0) {
    width: $width;
    height: $height;
    padding: $pval;
    margin: $mval;
}
@mixin background($bg,$bg-size, $bg-position, $bg-repeat) {
    background: $bg $bg-repeat $bg-position;
}
@mixin font-set($set-color, $set-weight, $set-size) {
    color: $set-color;
    font-weight: $set-weight;
    font-size: $set-size;
}